In [11]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField,StringType,IntegerType
from pyspark.sql.functions import round

In [12]:
spark1 = SparkSession.builder \
    .master('local[8]') \
    .appName('BigData') \
    .getOrCreate()

In [13]:
# df = spark1.read.csv('2017-capitalbikeshare-tripdata/2017Q3-capitalbikeshare-tripdata.csv')
df = spark1.read\
    .option("inferSchema", "true")\
    .option("header", "true")\
    .csv('bikeshare-tripdata')

In [14]:
# df.printSchema()

In [15]:
df.registerTempTable("bike")

In [16]:
# df.count()
# df.show()

In [17]:
dfStation = spark1.sql("\
    select distinct `Start station number` as stationId, `Start station` as station \
    from bike \
    ")

dfStation.registerTempTable("station")

In [18]:
# dfStation.count()
# dfStation.show()

In [19]:
#     where `Start station number` <> `End station number` \

dfJoin = spark1.sql("\
    select Duration as duration, `Bike number` as bikeId, \
        s1.station as startStation, \
        s2.station as endStation \
    from bike b \
        left join station s1 on s1.stationId = b.`Start station number` \
        left join station s2 on s2.stationId = b.`End station number` \
    ")

In [20]:
# dfJoin.describe().show()
dfJoin.count()

19117643